
/* .dashboard-nav-card {
    background: #1779ba;
    background-clip: content-box;
    border-radius: 0;
    color: #fefefe;
    display: block;
    min-height: 200px;
    padding:0.8rem;
    position: relative;
    width: 100%;
  } */
  
  .dashboard-nav-card {
    background: #1779ba;
    background-clip: content-box;
    border-radius: 1.5rem;
    color: #fefefe;
    display: block;
    min-height: 200px;
    padding:0.8rem;
    position: relative;
    width: 100%;
  }

  .dashboard-nav-card:hover .dashboard-nav-card-title,
  .dashboard-nav-card:hover .dashboard-nav-card-icon,
  .dashboard-nav-card:hover .dashboard-nav-card-kpi,
  .dashboard-nav-card:hover .dashboard-nav-card-more {
    color: #fefefe;
  }
  
  .dashboard-nav-card:hover .dashboard-nav-card-icon,
  .dashboard-nav-card:hover .dashboard-nav-card-title,
  .dashboard-nav-card:hover .dashboard-nav-card-kpi,
  .dashboard-nav-card:hover .dashboard-nav-card-more {
    opacity: 1;
    transition: all 0.2s ease;
  }
  
  /* .dashboard-nav-card-icon {
    font-size: 1.25rem;
    left: 0.1rem;
    opacity: 0.5;
    position: absolute;
    top: 1rem;
    transition: all 0.2s ease;
    width: auto;
  } */
  
  .dashboard-nav-card-icon {
    font-size: 1.25rem;
    left: 0.8rem;
    opacity: 0.5;
    position: absolute;
    top: 3rem;
    transition: all 0.2s ease;
    width: auto;
   
  }
  /* .dashboard-nav-card-title {
    bottom: 0;
    position: absolute;
    right: 1rem;
    text-align: right;
  } */
  
  .dashboard-nav-card-title {
    top: 1.5rem;
    position: absolute;
    right: 1.5rem;
    text-align: right;
    font-weight:bold; 
    opacity: 0.5;
    color:#fefefe;
  }

  .dashboard-nav-card-content {
    bottom: 3rem;
    position: absolute;
    right: 1.5rem;
    text-align: right;
    font-weight:bold; 
    color: #fefefe !important;
  }
  .dashboard-nav-card-content2 {
    bottom: 1.5rem;
    position: absolute;
    right: 1.5rem;
    text-align: right;
    font-weight:bold; 
    color:rgb(199, 198, 195)
  }
  .dashboard-nav-card-kpi{
    text-align: right;
    font-weight:bold; 
    opacity: 0.5;
    color: #fefefe !important;
    max-height: 30px;
    margin-bottom:20px;
  }

  .dashboard-nav-card-more {
    bottom: 1rem;
    position: absolute;
    right: 0.3rem;
    opacity: 0.5;
    text-align: right;
  } 