.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #15848F;
}

a {
    color: #1798A5;
}

.side-nav li a:not(.button) {
    color: #15848F;
}

.side-nav li a:not(.button):hover {
    color: #15848F;
}

header {
    background-color: #15848F;
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
    padding-left:20px
}

legend {
    color:#15848F;
}

.row {
    max-width: 80rem;
}

.actions.columns {
    margin-top:1rem;
    border-left: 5px solid #15848F;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color:#15848F;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right:2rem;
    margin-top: -80px;
    font-size:16px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height:150px;
    background: none;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color:#DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
    color:#747474;
}
.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top:1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.top-bar.expanded .title-area {
    background: #01545b;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: #116d76;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #308e97;
    background: #308e97;
}

.side-nav li.heading {
    color: #1798A5;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #fafafa;
}

.index table {
    margin-top: 0rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798A5;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #1798A5;
    text-align: left;
    border-bottom: 2px solid #1798A5;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #1798A5;
    width: 100%;
    line-height: 2rem;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: none;
}

.form button:hover, .form button:focus {
    background: #BE840B;
    box-shadow: none;
}

button {
    background: #966600;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #1798A5;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    overflow: hidden;
    min-height: 92%; /* full height almost always */
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

.content h3 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #be140b;
}

.content .related h4 {
    color: #4d8f97;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}

table td {
    vertical-align: top;
    word-break: break-all;
}

/*** Dashboard info widgets CSS   **/

.stats-list {
    list-style-type: none;
    clear: left;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .stats-list .stats-list-positive {
    color: #3adb76;
  }
  
  .stats-list .stats-list-negative {
    color: #cc4b37;
  }
  
  .stats-list > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #cacaca;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .stats-list > li:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .stats-list > li .stats-list-label {
    display: block;
    margin-top: 2px;
    font-size: 0.9em;
    font-weight: normal;
  }
  

  /**   DashBoard Number Card CSS */

  
.dashboard-number-card {
    background: #fff;
    border-radius: 5px;
    margin: 0 20px 20px;
    position: relative;
  }
  
  .dashboard-number-card .dashboard-number-delta {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    bottom: 6px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.7;
    position: absolute;
    right: 6px;
    color: #1779ba;
  }
  
  .dashboard-number-card .dashboard-number-delta i {
    margin-right: 5px;
    width: 0.6rem;
  }
  
  .dashboard-number-card.positive .dashboard-number-delta, .dashboard-number-card.negative .dashboard-number-delta {
    color: #fefefe;
  }
  
  .dashboard-number-card.positive .dashboard-number-value,
  .dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-value,
  .dashboard-number-card.negative .dashboard-number-area {
    color: white;
  }
  
  .dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-area {
    opacity: 0.6;
  }
  
  .dashboard-number-card.positive {
    background: #3adb76;
  }
  
  .dashboard-number-card.negative {
    background: #cc4b37;
  }
  
  .dashboard-number-value {
    color: #1779ba;
    font-size: 22px;
    font-weight: 800;
    padding: 1rem 2rem 1.75rem;
    text-align: center;
  }
  
  .dashboard-number-area {
    bottom: 6px;
    color: #1779ba;
    font-size: 12px;
    left: 6px;
    margin-bottom: 0;
    position: absolute;
  }
  
/* Infor Card with labels css   */


.card-info {
    background: #fefefe;
    border: 1px solid #8a8a8a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 0;
  }
  
  .card-info .card-info-label {
    border-color: transparent #8a8a8a transparent transparent;
    border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info.primary {
    border-color: #1779ba;
  }
  
  .card-info.primary .card-info-label {
    border-color: transparent #1779ba transparent transparent;
    border-color: rgba(255, 255, 255, 0) #1779ba rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info.secondary {
    border-color: #767676;
  }
  
  .card-info.secondary .card-info-label {
    border-color: transparent #767676 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #767676 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info.info {
    border-color: #37a0e6;
  }
  
  .card-info.info .card-info-label {
    border-color: transparent #37a0e6 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #37a0e6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info.alert {
    border-color: #cc4b37;
  }
  
  .card-info.alert .card-info-label {
    border-color: transparent #cc4b37 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #cc4b37 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info.success {
    border-color: #3adb76;
  }
  
  .card-info.success .card-info-label {
    border-color: transparent #3adb76 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #3adb76 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info.warning {
    border-color: #ffae00;
  }
  
  .card-info.warning .card-info-label {
    border-color: transparent #ffae00 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #ffae00 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  
  .card-info .card-info-label {
    border-style: solid;
    border-width: 0 4.375rem 2.5rem 0;
    float: right;
    height: 0px;
    width: 0px;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .card-info .card-info-content {
    padding: 0.5rem 1.5rem 0.875rem;
  }
  
  .card-info .card-info-label-text {
    color: #fefefe;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -2.5rem;
    top: 2px;
    white-space: nowrap;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
/**  custom classes Dashboard **/
  .dash-hr
  {
    margin:0px;
  }

  .dash-title
  {
    text-decoration: underline; 
     margin:0px
  }

  .dash-target{
    font-size:1em;
     margin:0px;
     color:#1779ba;
  }

  .dash-entered{
    color:green;font-size:1em; margin:0px;
  }
  
  .dash-remain{
    color:red;font-size:1em; margin:0px;
  }

  .dash-span{
    font-size:1.5em !important;font-weight:bold;
  }
  

  .fullWidth {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: initial !important;
 }

 /**Reveal Modal Style Sheets*/

 @media print, screen and (min-width: 40em) {
    .reveal, .reveal.tiny, .reveal.small, .reveal.large {
      right: auto;
      left: auto;
      margin: 0 auto; } }
 @media print, screen and (min-width: 40em) {
        .position-left.reveal-for-medium {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-left.reveal-for-medium .close-button {
            display: none; }
          .off-canvas-content .position-left.reveal-for-medium {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-left {
            margin-left: 250px; }
          .position-left.reveal-for-medium ~ .off-canvas-content {
            margin-left: 250px; }
        .position-right.reveal-for-medium {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-right.reveal-for-medium .close-button {
            display: none; }
          .off-canvas-content .position-right.reveal-for-medium {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-right {
            margin-right: 250px; }
          .position-right.reveal-for-medium ~ .off-canvas-content {
            margin-right: 250px; }
        .position-top.reveal-for-medium {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-top.reveal-for-medium .close-button {
            display: none; }
          .off-canvas-content .position-top.reveal-for-medium {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-top {
            margin-top: 250px; }
          .position-top.reveal-for-medium ~ .off-canvas-content {
            margin-top: 250px; }
        .position-bottom.reveal-for-medium {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-bottom.reveal-for-medium .close-button {
            display: none; }
          .off-canvas-content .position-bottom.reveal-for-medium {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-bottom {
            margin-bottom: 250px; }
          .position-bottom.reveal-for-medium ~ .off-canvas-content {
            margin-bottom: 250px; } }
      
@media print, screen and (min-width: 64em) {
        .position-left.reveal-for-large {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-left.reveal-for-large .close-button {
            display: none; }
          .off-canvas-content .position-left.reveal-for-large {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-left {
            margin-left: 250px; }
          .position-left.reveal-for-large ~ .off-canvas-content {
            margin-left: 250px; }
        .position-right.reveal-for-large {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-right.reveal-for-large .close-button {
            display: none; }
          .off-canvas-content .position-right.reveal-for-large {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-right {
            margin-right: 250px; }
          .position-right.reveal-for-large ~ .off-canvas-content {
            margin-right: 250px; }
        .position-top.reveal-for-large {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-top.reveal-for-large .close-button {
            display: none; }
          .off-canvas-content .position-top.reveal-for-large {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-top {
            margin-top: 250px; }
          .position-top.reveal-for-large ~ .off-canvas-content {
            margin-top: 250px; }
        .position-bottom.reveal-for-large {
          -ms-transform: none;
              transform: none;
          z-index: 12;
          transition: none;
          visibility: visible; }
          .position-bottom.reveal-for-large .close-button {
            display: none; }
          .off-canvas-content .position-bottom.reveal-for-large {
            -ms-transform: none;
                transform: none; }
          .off-canvas-content.has-reveal-bottom {
            margin-bottom: 250px; }
          .position-bottom.reveal-for-large ~ .off-canvas-content {
            margin-bottom: 250px; } }

 body.is-reveal-open {
    overflow: hidden; }
              
    html.is-reveal-open,
    html.is-reveal-open body {
        min-height: 100%;
        overflow: hidden;
         position: fixed;
        -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
        user-select: none; }
              
.reveal-overlay {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1005;
                display: none;
                background-color: rgba(10, 10, 10, 0.45);
                overflow-y: scroll; }
              
 .reveal {
                z-index: 1006;
                -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                display: none;
                padding: 1rem;
                border: 1px solid #cacaca;
                border-radius: 0;
                background-color: #fefefe;
                position: relative;
                top: 100px;
                margin-right: auto;
                margin-left: auto;
                overflow-y: auto; }
                [data-whatinput='mouse'] .reveal {
                  outline: 0; }
                @media print, screen and (min-width: 40em) {
                  .reveal {
                    min-height: 0; } }
                .reveal .column {
                  min-width: 0; }
                .reveal > :last-child {
                  margin-bottom: 0; }
                @media print, screen and (min-width: 40em) {
                  .reveal {
                    width: 600px;
                    max-width: 75rem; } }
                .reveal.collapse {
                  padding: 0; }
                @media print, screen and (min-width: 40em) {
                  .reveal.tiny {
                    width: 30%;
                    max-width: 75rem; } }
                @media print, screen and (min-width: 40em) {
                  .reveal.small {
                    width: 50%;
                    max-width: 75rem; } }
                @media print, screen and (min-width: 40em) {
                  .reveal.large {
                    width: 90%;
                    max-width: 75rem; } }
                .reveal.full {
                  top: 0;
                  left: 0;
                  width: 100%;
                  max-width: none;
                  height: 100%;
                  height: 100vh;
                  min-height: 100vh;
                  margin-left: 0;
                  border: 0;
                  border-radius: 0; }
                @media screen and (max-width: 39.9375em) {
                  .reveal {
                    top: 0;
                    left: 0;
                    width: 100%;
                    max-width: none;
                    height: 100%;
                    height: 100vh;
                    min-height: 100vh;
                    margin-left: 0;
                    border: 0;
                    border-radius: 0; } }
.reveal.without-overlay {
    position: fixed; }
    
 .reveal {
                    z-index: 1006;
                    -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                    display: none;
                    padding: 1rem;
                    border: 1px solid #cacaca;
                    border-radius: 0;
                    background-color: #fefefe;
                    position: relative;
                    top: 100px;
                    margin-right: auto;
                    margin-left: auto;
                    overflow-y: auto; }
                    [data-whatinput='mouse'] .reveal {
                      outline: 0; }
                    @media print, screen and (min-width: 40em) {
                      .reveal {
                        min-height: 0; } }
                    .reveal .column {
                      min-width: 0; }
                    .reveal > :last-child {
                      margin-bottom: 0; }
                    @media print, screen and (min-width: 40em) {
                      .reveal {
                        width: 600px;
                        max-width: 75rem; } }
                    .reveal.collapse {
                      padding: 0; }
                    @media print, screen and (min-width: 40em) {
                      .reveal.tiny {
                        width: 30%;
                        max-width: 75rem; } }
                    @media print, screen and (min-width: 40em) {
                      .reveal.small {
                        width: 50%;
                        max-width: 75rem; } }
                    @media print, screen and (min-width: 40em) {
                      .reveal.large {
                        width: 90%;
                        max-width: 75rem; } }
                    .reveal.full {
                      top: 0;
                      left: 0;
                      width: 100%;
                      max-width: none;
                      height: 100%;
                      height: 100vh;
                      min-height: 100vh;
                      margin-left: 0;
                      border: 0;
                      border-radius: 0; }
                    @media screen and (max-width: 39.9375em) {
                      .reveal {
                        top: 0;
                        left: 0;
                        width: 100%;
                        max-width: none;
                        height: 100%;
                        height: 100vh;
                        min-height: 100vh;
                        margin-left: 0;
                        border: 0;
                        border-radius: 0; } }
 .reveal.without-overlay {
    position: fixed; }

    .close-button {
        position: absolute;
        color: #8a8a8a;
        cursor: pointer; }
        [data-whatinput='mouse'] .close-button {
          outline: 0; }
        .close-button:hover, .close-button:focus {
          color: #0a0a0a; }
        .close-button.small {
          right: 0.66rem;
          top: 0.33em;
          font-size: 1.5em;
          line-height: 1; }
        .close-button, .close-button.medium {
          right: 1rem;
          top: 0.5rem;
          font-size: 2em;
          line-height: 1; }


/**responsive tables css***/


.responsive-card-table {
    border-collapse: collapse;
  }
  
  .responsive-card-table.unstriped tbody {
    background-color: transparent;
  }
  
  .responsive-card-table th {
    background-color: #e6e6e6;
  }
  
  .responsive-card-table tr,
  .responsive-card-table th,
  .responsive-card-table td {
    border: 1px solid #0a0a0a;
  }
  
  @media screen and (max-width: 640px) {
    .responsive-card-table {
      
    }
    .responsive-card-table thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }
    .responsive-card-table tr {
      border: 1px solid #0a0a0a;
      display: block;
    }
    .responsive-card-table tr + tr {
      margin-top: 1.5rem;
    }
    .responsive-card-table td {
      border: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #0a0a0a;
      padding-left: 50%;
      position: relative;
    }
    .responsive-card-table td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      margin-left: -100%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .responsive-card-table td:after {
      content: '';
      position: absolute;
      background: #e6e6e6;
      width: 45%;
      height: 95%;
      left: 1px;
      top: 1px;
      z-index: 0;
    }
  }
  
  